In [1]:
import pandas as pd
from google.cloud import bigquery
bqclient = bigquery.Client()

In [2]:
table_path = 'bigquery-public-data.epa_historical_air_quality.co_daily_summary'
rows = bqclient.list_rows(table_path, max_results=10)
dataframe = rows.to_dataframe(create_bqstorage_client=True,)
dataframe.head()

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,...,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,06,099,0005,42101,1,37.642165,-120.994212,NAD83,Carbon monoxide,8-HR RUN AVG END HOUR,...,32,NaN,-,Modesto-14th Street,"814 14TH ST., MODESTO",California,Stanislaus,Modesto,"Modesto, CA",2021-11-08
1,32,510,0004,42101,1,39.173056,-119.759167,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,25,NaN,-,Carson City-NW Corner of Equipment Yard,875 EAST LONG STREET,Nevada,Carson City,Carson City,"Carson City, NV",2021-11-08
2,53,077,0014,42101,1,46.602627,-120.505343,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,25,NaN,-,"JIM AND JENNY'S TATTOO 210 E YAKIMA AVE, YAKIM...","210 E YAKIMA AVE, YAKIMA WA",Washington,Yakima,Yakima,"Yakima, WA",2021-11-08
3,02,020,0017,42101,1,61.195004,-149.904983,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,40,NaN,-,None,SPENARD & BENSON/2902 SPENARD RD,Alaska,Anchorage,Anchorage,"Anchorage, AK",2021-11-09
4,02,020,0037,42101,1,61.193337,-149.868868,WGS84,Carbon monoxide,8-HR RUN AVG END HOUR,...,31,NaN,-,None,SEWARD HWY & BENSON/3002 NEW SEWARD HWY,Alaska,Anchorage,Anchorage,"Anchorage, AK",2021-11-09

### Query required data from BigQuery and push aggregated data into MongoDB Atlas

In [62]:
# as the EPA dataset is very huge, we can only read parts of it at a time
# state names API - return list of all state names
offset = 0
offset_interval = 80000
row_count = 8614411
state_names = [] 
while offset < row_count:
    query_string = """SELECT DISTINCT state_name FROM `bigquery-public-data.epa_historical_air_quality.co_daily_summary` 
    LIMIT 80000 OFFSET """ + str(offset)
    names = (bqclient.query(query_string).result().to_dataframe(create_bqstorage_client=True,))
    #if !names.empty:
    state_names.append(names)
    offset += offset_interval

df = pd.concat(state_names, ignore_index=True)
state_names_list = df['state_name'].unique()
state_names_list

[              state_name
0               Illinois
1          Massachusetts
2              Minnesota
3                Montana
4               Nebraska
5          New Hampshire
6             New Mexico
7               New York
8               Oklahoma
9                 Oregon
10          Pennsylvania
11          Rhode Island
12                 Texas
13                  Utah
14             Wisconsin
15                Alaska
16            California
17              Colorado
18           Connecticut
19             Tennessee
20               Wyoming
21              Kentucky
22               Arizona
23                 Maine
24        North Carolina
25        South Carolina
26              Michigan
27              Missouri
28                  Iowa
29               Alabama
30     Country Of Mexico
31                Nevada
32                  Ohio
33               Florida
34            Washington
35              Maryland
36               Indiana
37               Georgia
38            New Jersey
39  District Of Columbia
40          South Dakota
41         West Virginia
42                Kansas
43           Mississippi
44               Vermont
45           Puerto Rico
46          North Dakota
47             Louisiana
48                 Idaho
49              Virginia
50              Arkansas
51                Hawaii
52              Delaware, Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: [], Empty DataFrame
Columns: [state_name]
Index: []]

In [53]:
# county names API - return list counties in specified states
offset = 0
offset_interval = 80000
row_count = 8614411
job_config = bigquery.QueryJobConfig(use_legacy_sql=True)
county_names = [] 
while offset < row_count:
    query_string = """SELECT county_name, state_name FROM `bigquery-public-data.epa_historical_air_quality.co_daily_summary` 
    WHERE state_name='California' OR state_name='Nevada' GROUP BY county_name, state_name LIMIT 80000 OFFSET """ + str(offset)
    names = (bqclient.query(query_string).result().to_dataframe(create_bqstorage_client=True,))
    #if !names.empty:
    county_names.append(names)
    offset += offset_interval

county_df = pd.concat(county_names, ignore_index=True)
county_df

        county_name  state_name
0              Kern  California
1       Santa Clara  California
2   San Luis Obispo  California
3        Stanislaus  California
4          Mariposa  California
5            Washoe      Nevada
6            Fresno  California
7         San Diego  California
8     Santa Barbara  California
9             Clark      Nevada
10      Los Angeles  California
11           Orange  California
12        Riverside  California
13   San Bernardino  California
14       Sacramento  California
15        El Dorado  California
16        Calaveras  California
17             Mono  California
18            Marin  California
19            Butte  California
20             Inyo  California
21           Nevada  California
22           Amador  California
23     Contra Costa  California
24             Napa  California
25       Santa Cruz  California
26           Sonoma  California
27           Sutter  California
28         Humboldt  California
29          Alameda  California
30    San Francisco  California
31           Solano  California
32      Carson City      Nevada
33           Madera  California
34          Douglas      Nevada
35           Shasta  California
36           Merced  California
37             Yolo  California
38         Imperial  California
39         Tuolumne  California
40         Monterey  California
41           Placer  California
42        Mendocino  California
43      San Joaquin  California
44        San Mateo  California
45           Tulare  California
46          Ventura  California
47             Lake  California

In [55]:
from pymongo import MongoClient

def connectToMongoCollection():
    connect_uri = "mongodb+srv://owner-user:carbonscore@cluster0.tqbki.mongodb.net/carbonScore?retryWrites=true&w=majority"
    mongo_client = MongoClient(connect_uri)
    global db
    db = mongo_client["carbonScore"]

def insert_states_list():
    state_df = state_names_list.tolist()
    mongo_dict_list = []
    states_collection = db["states"]
    for item in state_df:
        temp_dict = {"state": item}
        mongo_dict_list.append(temp_dict)
    states_collection.insert_many(mongo_dict_list)

def insert_county_list():
    county_list = county_df.values.tolist()
    mongo_dict_list = []
    counties_collection = db['counties']
    for item in county_list:
        temp_dict = {"county": item[0], "state": item[1]}
        mongo_dict_list.append(temp_dict)
    counties_collection.insert_many(mongo_dict_list)

In [56]:
connectToMongoCollection()
insert_states_list()
insert_county_list()

In [2]:
# fetch data one year at a time - as the dataset is very huge, we can only read parts of it at a time
# get aggregate CO levels for states CA and Nevada
offset = 0
offset_interval = 80000
row_count = 8614411
job_config = bigquery.QueryJobConfig(use_legacy_sql=True)
state_info = [] 
while offset < row_count:
    query_string = """SELECT * FROM [bigquery-public-data:epa_historical_air_quality.co_daily_summary] 
    WHERE YEAR(date_local) = 2015 LIMIT 80000 OFFSET """ + str(offset) 
    names = (bqclient.query(query_string, job_config=job_config).result().to_dataframe(create_bqstorage_client=True,))
    #if !names.empty:
    state_info.append(names)
    offset += offset_interval

state_df = pd.concat(state_info, ignore_index=True)

In [11]:
# aggregate CO mean by month
state_df['month'] = state_df['date_local'].apply(lambda x : x.month)
state_agg_df = state_df.groupby(['state_name','month']).agg({'arithmetic_mean': ['mean']}).reset_index()
state_agg_df.index = state_agg_df['month']
state_agg_df

       state_name month arithmetic_mean
                                   mean
month
1      California     1        0.513453
2      California     2        0.403894
3      California     3        0.339843
4      California     4        0.280516
5      California     5        0.240546
6      California     6        0.243935
7      California     7        0.214861
8      California     8        0.265384
9      California     9        0.280746
10     California    10        0.335891
11     California    11        0.417249
12     California    12        0.454674
1          Nevada     1        0.655971
2          Nevada     2        0.479639
3          Nevada     3        0.348005
4          Nevada     4        0.216997
5          Nevada     5        0.172992
6          Nevada     6        0.167316
7          Nevada     7        0.156283
8          Nevada     8        0.205103
9          Nevada     9        0.237933
10         Nevada    10        0.313425
11         Nevada    11        0.479107
12         Nevada    12        0.500532

In [9]:
# get aggregate CO levels for states CA and Nevada
offset = 0
offset_interval = 80000
row_count = 8614411
job_config = bigquery.QueryJobConfig(use_legacy_sql=True)
state_info = [] 
while offset < row_count:
    query_string = """SELECT * FROM [bigquery-public-data:epa_historical_air_quality.co_daily_summary] 
    WHERE YEAR(date_local) = 2015 AND  (state_name = 'California' OR state_name = 'Nevada') LIMIT 80000 OFFSET """ + str(offset) 
    names = (bqclient.query(query_string, job_config=job_config).result().to_dataframe(create_bqstorage_client=True,))
    #if !names.empty:
    state_info.append(names)
    offset += offset_interval

state_df = pd.concat(state_info, ignore_index=True)

In [12]:
county_agg_df = state_df.groupby(['state_name','county_name','month']).agg({'arithmetic_mean': ['mean']}).reset_index()
# dropping counties that dont have mean level for all 12 months - Sutter and Madera
county_agg_df = county_agg_df.drop(county_agg_df.index[county_agg_df['county_name'] == 'Sutter'])
county_agg_df = county_agg_df.drop(county_agg_df.index[county_agg_df['county_name'] == 'Madera'])
county_agg_df.index = county_agg_df['month']
county_agg_df

       state_name county_name month arithmetic_mean
                                               mean
month
1      California     Alameda     1        0.721533
2      California     Alameda     2        0.530977
3      California     Alameda     3        0.429491
4      California     Alameda     4        0.347129
5      California     Alameda     5        0.304991
...           ...         ...   ...             ...
8          Nevada      Washoe     8        0.198395
9          Nevada      Washoe     9        0.214044
10         Nevada      Washoe    10        0.259591
11         Nevada      Washoe    11        0.402479
12         Nevada      Washoe    12        0.319191

[312 rows x 4 columns]

In [13]:
county_agg_df.values.tolist()

[['California', 'Alameda', 1, 0.7215331774193541],
 ['California', 'Alameda', 2, 0.5309766309523812],
 ['California', 'Alameda', 3, 0.42949125806451605],
 ['California', 'Alameda', 4, 0.34712926666666655],
 ['California', 'Alameda', 5, 0.3049908548387095],
 ['California', 'Alameda', 6, 0.3109790666666665],
 ['California', 'Alameda', 7, 0.2669968655913979],
 ['California', 'Alameda', 8, 0.319388564516129],
 ['California', 'Alameda', 9, 0.3812216000000001],
 ['California', 'Alameda', 10, 0.46145535483870986],
 ['California', 'Alameda', 11, 0.5312062611111111],
 ['California', 'Alameda', 12, 0.542443838709677],
 ['California', 'Butte', 1, 0.4679052741935483],
 ['California', 'Butte', 2, 0.2614309642857144],
 ['California', 'Butte', 3, 0.20508741935483865],
 ['California', 'Butte', 4, 0.17615656666666663],
 ['California', 'Butte', 5, 0.1564555],
 ['California', 'Butte', 6, 0.1470844333333333],
 ['California', 'Butte', 7, 0.13543640322580636],
 ['California', 'Butte', 8, 0.17368332258064517],
 ['California', 'Butte', 9, 0.19441313333333338],
 ['California', 'Butte', 10, 0.21159610000000004],
 ['California', 'Butte', 11, 0.3846606333333333],
 ['California', 'Butte', 12, 0.3242505],
 ['California', 'Contra Costa', 1, 0.5384822419354842],
 ['California', 'Contra Costa', 2, 0.4454419166666665],
 ['California', 'Contra Costa', 3, 0.3537156813186811],
 ['California', 'Contra Costa', 4, 0.32597086111111084],
 ['California', 'Contra Costa', 5, 0.28634996774193516],
 ['California', 'Contra Costa', 6, 0.3583836666666664],
 ['California', 'Contra Costa', 7, 0.27872228494623624],
 ['California', 'Contra Costa', 8, 0.34487203225806445],
 ['California', 'Contra Costa', 9, 0.34391913333333346],
 ['California', 'Contra Costa', 10, 0.4120892419354836],
 ['California', 'Contra Costa', 11, 0.45807669999999995],
 ['California', 'Contra Costa', 12, 0.45476470967741905],
 ['California', 'Fresno', 1, 0.4341829868421055],
 ['California', 'Fresno', 2, 0.31848477500000016],
 ['California', 'Fresno', 3, 0.2647895096774195],
 ['California', 'Fresno', 4, 0.2207548800000002],
 ['California', 'Fresno', 5, 0.19520702597402653],
 ['California', 'Fresno', 6, 0.1872759300000004],
 ['California', 'Fresno', 7, 0.1487086914893617],
 ['California', 'Fresno', 8, 0.1682809360465116],
 ['California', 'Fresno', 9, 0.21073918888888907],
 ['California', 'Fresno', 10, 0.24643933333333357],
 ['California', 'Fresno', 11, 0.3720431833333335],
 ['California', 'Fresno', 12, 0.39241034408602177],
 ['California', 'Humboldt', 1, 0.4031339032258065],
 ['California', 'Humboldt', 2, 0.2248465267857141],
 ['California', 'Humboldt', 3, 0.29982511290322583],
 ['California', 'Humboldt', 4, 0.3281673999999997],
 ['California', 'Humboldt', 5, 0.43201132231404954],
 ['California', 'Humboldt', 6, 0.36686600833333344],
 ['California', 'Humboldt', 7, 0.17800536290322555],
 ['California', 'Humboldt', 8, 0.239773193548387],
 ['California', 'Humboldt', 9, 0.20326121739130423],
 ['California', 'Humboldt', 10, 0.2610999677419357],
 ['California', 'Humboldt', 11, 0.4214871083333332],
 ['California', 'Humboldt', 12, 0.3027486774193546],
 ['California', 'Imperial', 1, 0.34352392741935484],
 ['California', 'Imperial', 2, 0.3422972500000001],
 ['California', 'Imperial', 3, 0.1883260967741935],
 ['California', 'Imperial', 4, 0.13288935833333332],
 ['California', 'Imperial', 5, 0.10645765322580646],
 ['California', 'Imperial', 6, 0.11194565833333338],
 ['California', 'Imperial', 7, 0.08480969354838706],
 ['California', 'Imperial', 8, 0.13257281818181818],
 ['California', 'Imperial', 9, 0.2188552166666666],
 ['California', 'Imperial', 10, 0.2621861129032258],
 ['California', 'Imperial', 11, 0.44938133333333313],
 ['California', 'Imperial', 12, 0.6920462741935482],
 ['California', 'Kern', 1, 0.3285953709677419],
 ['California', 'Kern', 2, 0.25733808035714273],
 ['California', 'Kern', 3, 0.22320496774193538],
 ['California', 'Kern', 4, 0.20983692241379298],
 ['California', 'Kern', 5, 0.1744021842105262],
 ['California', 'Kern', 6, 0.17244426666666654],
 ['California', 'Kern', 7, 0.15564196774193534],
 ['California', 'Kern', 8, 0.19449882258064505],
 ['California', 'Kern', 9, 0.19980013333333332],
 ['California', 'Kern', 10, 0.2214038870967742],
 ['California', 'Kern', 11, 0.2700144636363635],
 ['California', 'Kern', 12, 0.3053874193548389],
 ['California', 'Los Angeles', 1, 0.5577623784722225],
 ['California', 'Los Angeles', 2, 0.46253157142857093],
 ['California', 'Los Angeles', 3, 0.3680251843317971],
 ['California', 'Los Angeles', 4, 0.3079613797619046],
 ['California', 'Los Angeles', 5, 0.2490790312500003],
 ['California', 'Los Angeles', 6, 0.25576901081730785],
 ['California', 'Los Angeles', 7, 0.21227985397653176],
 ['California', 'Los Angeles', 8, 0.2567544961439591],
 ['California', 'Los Angeles', 9, 0.2908850798969072],
 ['California', 'Los Angeles', 10, 0.3400319219143571],
 ['California', 'Los Angeles', 11, 0.4532240782051288],
 ['California', 'Los Angeles', 12, 0.5073213026151935],
 ['California', 'Marin', 1, 0.5183532419354837],
 ['California', 'Marin', 2, 0.3875863214285715],
 ['California', 'Marin', 3, 0.34076622580645155],
 ['California', 'Marin', 4, 0.2989043833333334],
 ['California', 'Marin', 5, 0.2837219677419356],
 ['California', 'Marin', 6, 0.2420995666666667],
 ['California', 'Marin', 7, 0.2925378709677421],
 ['California', 'Marin', 8, 0.39942718965517243],
 ['California', 'Marin', 9, 0.40120515000000007],
 ['California', 'Marin', 10, 0.47257482258064526],
 ['California', 'Marin', 11, 0.33389606666666666],
 ['California', 'Marin', 12, 0.5162493387096775],
 ['California', 'Monterey', 1, 0.497576193548387],
 ['California', 'Monterey', 2, 0.24112314285714292],
 ['California', 'Monterey', 3, 0.3170493870967743],
 ['California', 'Monterey', 4, 0.33201385000000005],
 ['California', 'Monterey', 5, 0.3634408225806452],
 ['California', 'Monterey', 6, 0.3859028166666665],
 ['California', 'Monterey', 7, 0.38257656451612887],
 ['California', 'Monterey', 8, 0.33971775806451615],
 ['California', 'Monterey', 9, 0.32674461666666677],
 ['California', 'Monterey', 10, 0.41710988709677416],
 ['California', 'Monterey', 11, 0.4305571499999999],
 ['California', 'Monterey', 12, 0.5102764193548386],
 ['California', 'Napa', 1, 0.7003300517241378],
 ['California', 'Napa', 2, 0.5008983035714286],
 ['California', 'Napa', 3, 0.4717764032258065],
 ['California', 'Napa', 4, 0.36243386666666666],
 ['California', 'Napa', 5, 0.3786527096774194],
 ['California', 'Napa', 6, 0.3641227333333333],
 ['California', 'Napa', 7, 0.3169617741935487],
 ['California', 'Napa', 8, 0.3578944193548387],
 ['California', 'Napa', 9, 0.36830913333333354],
 ['California', 'Napa', 10, 0.5074625645161291],
 ['California', 'Napa', 11, 0.6397843666666667],
 ['California', 'Napa', 12, 0.6722149999999999],
 ['California', 'Orange', 1, 0.6299906096774192],
 ['California', 'Orange', 2, 0.49849084642857155],
 ['California', 'Orange', 3, 0.43132769999999987],
 ['California', 'Orange', 4, 0.3494014200000003],
 ['California', 'Orange', 5, 0.30134471935483903],
 ['California', 'Orange', 6, 0.2666534466666667],
 ['California', 'Orange', 7, 0.23435913548387086],
 ['California', 'Orange', 8, 0.3061345244299674],
 ['California', 'Orange', 9, 0.3091888000000001],
 ['California', 'Orange', 10, 0.4107626935483871],
 ['California', 'Orange', 11, 0.49135339999999994],
 ['California', 'Orange', 12, 0.6301332387096767],
 ['California', 'Riverside', 1, 0.39474333548387086],
 ['California', 'Riverside', 2, 0.3357245249999999],
 ['California', 'Riverside', 3, 0.2526015681818183],
 ['California', 'Riverside', 4, 0.19043705067567596],
 ['California', 'Riverside', 5, 0.11805186842105271],
 ['California', 'Riverside', 6, 0.15594399666666683],
 ['California', 'Riverside', 7, 0.11501340000000018],
 ['California', 'Riverside', 8, 0.17553029032258072],
 ['California', 'Riverside', 9, 0.19273415666666685],
 ['California', 'Riverside', 10, 0.23580457142857153],
 ['California', 'Riverside', 11, 0.2797129699999999],
 ['California', 'Riverside', 12, 0.38039271290322596],
 ['California', 'Sacramento', 1, 0.40487346774193556],
 ['California', 'Sacramento', 2, 0.33825308783783803],
 ['California', 'Sacramento', 3, 0.3069098145161291],
 ['California', 'Sacramento', 4, 0.22510010833333335],
 ['California', 'Sacramento', 5, 0.1895678275862069],
 ['California', 'Sacramento', 6, 0.18736025000000006],
 ['California', 'Sacramento', 7, 0.19426156989247312],
 ['California', 'Sacramento', 8, 0.19769173655913982],
 ['California', 'Sacramento', 9, 0.24047016853932582],
 ['California', 'Sacramento', 10, 0.3018681216216217],
 ['California', 'Sacramento', 11, 0.36105850833333275],
 ['California', 'Sacramento', 12, 0.35626894758064526],
 ['California', 'San Bernardino', 1, 0.5995390940860214],
 ['California', 'San Bernardino', 2, 0.5315037232142863],
 ['California', 'San Bernardino', 3, 0.4124047688172045],
 ['California', 'San Bernardino', 4, 0.34087675862068967],
 ['California', 'San Bernardino', 5, 0.2713290000000001],
 ['California', 'San Bernardino', 6, 0.30723822598870076],
 ['California', 'San Bernardino', 7, 0.269551196185286],
 ['California', 'San Bernardino', 8, 0.3824745580736541],
 ['California', 'San Bernardino', 9, 0.3465332088235294],
 ['California', 'San Bernardino', 10, 0.37522308083832356],
 ['California', 'San Bernardino', 11, 0.4148169169230767],
 ['California', 'San Bernardino', 12, 0.4884350080645163],
 ['California', 'San Diego', 1, 0.6460619139784946],
 ['California', 'San Diego', 2, 0.4346749880952383],
 ['California', 'San Diego', 3, 0.4013163225806453],
 ['California', 'San Diego', 4, 0.315493469072165],
 ['California', 'San Diego', 5, 0.26527791869918743],
 ['California', 'San Diego', 6, 0.2666541594827588],
 ['California', 'San Diego', 7, 0.25841298790322603],
 ['California', 'San Diego', 8, 0.3318554504132231],
 ['California', 'San Diego', 9, 0.3376148222222222],
 ['California', 'San Diego', 10, 0.4464752631578947],
 ['California', 'San Diego', 11, 0.5102912833333333],
 ['California', 'San Diego', 12, 0.5834429677419352],
 ['California', 'San Francisco', 1, 0.6424971129032259],
 ['California', 'San Francisco', 2, 0.4681320892857145],
 ['California', 'San Francisco', 3, 0.4256674032258065],
 ['California', 'San Francisco', 4, 0.3573383333333335],
 ['California', 'San Francisco', 5, 0.30551637096774203],
 ['California', 'San Francisco', 6, 0.30188590000000004],
 ['California', 'San Francisco', 7, 0.30612490322580654],
 ['California', 'San Francisco', 8, 0.3368863548387098],
 ['California', 'San Francisco', 9, 0.3916330666666668],
 ['California', 'San Francisco', 10, 0.418454870967742],
 ['California', 'San Francisco', 11, 0.48853500000000005],
 ['California', 'San Francisco', 12, 0.5008929999999999],
 ['California', 'San Joaquin', 1, 0.46407966129032263],
 ['California', 'San Joaquin', 2, 0.3289052142857143],
 ['California', 'San Joaquin', 3, 0.2671232258064516],
 ['California', 'San Joaquin', 4, 0.21106578333333326],
 ['California', 'San Joaquin', 5, 0.17843579032258053],
 ['California', 'San Joaquin', 6, 0.17445205],
 ['California', 'San Joaquin', 7, 0.16011748387096772],
 ['California', 'San Joaquin', 8, 0.19932914516129027],
 ['California', 'San Joaquin', 9, 0.24334363333333334],
 ['California', 'San Joaquin', 10, 0.28041817741935476],
 ['California', 'San Joaquin', 11, 0.38650149999999994],
 ['California', 'San Joaquin', 12, 0.3513455967741935],
 ['California', 'San Mateo', 1, 0.7134949354838712],
 ['California', 'San Mateo', 2, 0.6156061607142856],
 ['California', 'San Mateo', 3, 0.45029969354838706],
 ['California', 'San Mateo', 4, 0.37855613333333327],
 ['California', 'San Mateo', 5, 0.3159008548387097],
 ['California', 'San Mateo', 6, 0.3946423333333335],
 ['California', 'San Mateo', 7, 0.3113072741935486],
 ['California', 'San Mateo', 8, 0.3791724838709679],
 ['California', 'San Mateo', 9, 0.33931246666666665],
 ['California', 'San Mateo', 10, 0.4479428064516129],
 ['California', 'San Mateo', 11, 0.5402298666666668],
 ['California', 'San Mateo', 12, 0.5209448064516129],
 ['California', 'Santa Barbara', 1, 0.2892354059139786],
 ['California', 'Santa Barbara', 2, 0.25260044047619035],
 ['California', 'Santa Barbara', 3, 0.26588009408602165],
 ['California', 'Santa Barbara', 4, 0.1988023050847465],
 ['California', 'Santa Barbara', 5, 0.16666255801104998],
 ['California', 'Santa Barbara', 6, 0.1594495777777779],
 ['California', 'Santa Barbara', 7, 0.1495238054054056],
 ['California', 'Santa Barbara', 8, 0.17963209677419384],
 ['California', 'Santa Barbara', 9, 0.1779946610169493],
 ['California', 'Santa Barbara', 10, 0.22387974462365626],
 ['California', 'Santa Barbara', 11, 0.2712078972222223],
 ['California', 'Santa Barbara', 12, 0.25448728763440875],
 ['California', 'Santa Clara', 1, 0.9064139032258063],
 ['California', 'Santa Clara', 2, 0.6109473928571427],
 ['California', 'Santa Clara', 3, 0.5043023145161291],
 ['California', 'Santa Clara', 4, 0.4218253583333332],
 ['California', 'Santa Clara', 5, 0.34928762096774196],
 ['California', 'Santa Clara', 6, 0.3662788416666666],
 ['California', 'Santa Clara', 7, 0.3590878387096773],
 ['California', 'Santa Clara', 8, 0.4188040967741934],
 ['California', 'Santa Clara', 9, 0.4642697000000001],
 ['California', 'Santa Clara', 10, 0.5609471229508197],
 ['California', 'Santa Clara', 11, 0.6850537966101696],
 ['California', 'Santa Clara', 12, 0.6191313951612902],
 ['California', 'Solano', 1, 0.6277004193548389],
 ['California', 'Solano', 2, 0.4724249464285712],
 ['California', 'Solano', 3, 0.421697693548387],
 ['California', 'Solano', 4, 0.2973570000000001],
 ['California', 'Solano', 5, 0.2770516290322581],
 ['California', 'Solano', 6, 0.2499241166666667],
 ['California', 'Solano', 7, 0.2620991935483872],
 ['California', 'Solano', 8, 0.35376103225806454],
 ['California', 'Solano', 9, 0.3255004],
 ['California', 'Solano', 10, 0.3296697741935484],
 ['California', 'Solano', 11, 0.6482361833333331],
 ['California', 'Solano', 12, 0.5312193870967742],
 ['California', 'Sonoma', 1, 0.5579795161290323],
 ['California', 'Sonoma', 2, 0.42730644642857146],
 ['California', 'Sonoma', 3, 0.39804845161290325],
 ['California', 'Sonoma', 4, 0.28494415000000006],
 ['California', 'Sonoma', 5, 0.36465933870967737],
 ['California', 'Sonoma', 6, 0.30541361666666694],
 ['California', 'Sonoma', 7, 0.3991175645161289],
 ['California', 'Sonoma', 8, 0.25461353225806443],
 ['California', 'Sonoma', 9, 0.2657202833333333],
 ['California', 'Sonoma', 10, 0.3984057903225806],
 ['California', 'Sonoma', 11, 0.42132571666666674],
 ['California', 'Sonoma', 12, 0.5111007580645162],
 ['California', 'Stanislaus', 1, 0.4797045887096773],
 ['California', 'Stanislaus', 2, 0.3747427589285715],
 ['California', 'Stanislaus', 3, 0.31095037096774186],
 ['California', 'Stanislaus', 4, 0.24721072807017544],
 ['California', 'Stanislaus', 5, 0.2139276129032256],
 ['California', 'Stanislaus', 6, 0.2034214227642276],
 ['California', 'Stanislaus', 7, 0.18418852380952383],
 ['California', 'Stanislaus', 8, 0.21379037096774195],
 ['California', 'Stanislaus', 9, 0.25768356666666664],
 ['California', 'Stanislaus', 10, 0.29989380645161284],
 ['California', 'Stanislaus', 11, 0.4105547],
 ['California', 'Stanislaus', 12, 0.37148190322580643],
 ['Nevada', 'Clark', 1, 0.8389536098901099],
 ['Nevada', 'Clark', 2, 0.6602603511904762],
 ['Nevada', 'Clark', 3, 0.44699688043478303],
 ['Nevada', 'Clark', 4, 0.22855523033707872],
 ['Nevada', 'Clark', 5, 0.18304827999999998],
 ['Nevada', 'Clark', 6, 0.17526856666666665],
 ['Nevada', 'Clark', 7, 0.15335948387096768],
 ['Nevada', 'Clark', 8, 0.214047182795699],
 ['Nevada', 'Clark', 9, 0.27088251724137924],
 ['Nevada', 'Clark', 10, 0.38259480000000007],
 ['Nevada', 'Clark', 11, 0.5812771666666665],
 ['Nevada', 'Clark', 12, 0.7423203225806452],
 ['Nevada', 'Washoe', 1, 0.5216845524193547],
 ['Nevada', 'Washoe', 2, 0.3441731830357142],
 ['Nevada', 'Washoe', 3, 0.2721108833333335],
 ['Nevada', 'Washoe', 4, 0.20831603797468348],
 ['Nevada', 'Washoe', 5, 0.16565877083333352],
 ['Nevada', 'Washoe', 6, 0.16135138333333357],
 ['Nevada', 'Washoe', 7, 0.15847554838709707],
 ['Nevada', 'Washoe', 8, 0.19839460080645163],
 ['Nevada', 'Washoe', 9, 0.2140442208333334],
 ['Nevada', 'Washoe', 10, 0.2595907594339621],
 ['Nevada', 'Washoe', 11, 0.4024794208333334],
 ['Nevada', 'Washoe', 12, 0.3191908266129034]]

In [14]:
from pymongo import MongoClient

def connectToMongoCollection():
    connect_uri = "mongodb+srv://owner-user:carbonscore@cluster0.tqbki.mongodb.net/carbonScore?retryWrites=true&w=majority"
    mongo_client = MongoClient(connect_uri)
    global db
    db = mongo_client["carbonScore"]

def state_insert_CO_level(year):
    state_list = state_agg_df.values.tolist()
    mongo_dict_list = []
    states_collection = db["statewise_CO_yearly"]
    state_dict = {}
    for state in ['California', 'Nevada']:
        state_dict[state] = []
    for state,month,mean_val in state_list:
        state_dict[state].append(mean_val)
    for key, value in state_dict.items():
        temp_dict = {"year": year, "state": key, "CO_monthly": value}
        mongo_dict_list.append(temp_dict)
    states_collection.insert_many(mongo_dict_list)

def county_insert_CO_level(year):
    county_list = county_agg_df.values.tolist()
    mongo_dict_list = []
    counties_collection = db['countywise_CO_yearly']
    county_dict = {}
    for county in county_agg_df['county_name'].unique():
        county_dict[county] = []
    for state,county,month,mean_val in county_list:
        county_dict[county].append(mean_val)
    for key, value in county_dict.items():
        temp_dict = {"year": year, "county": key, "CO_monthly": value}
        mongo_dict_list.append(temp_dict)
    counties_collection.insert_many(mongo_dict_list)

In [15]:
connectToMongoCollection()
#state_insert_CO_level(2014)

In [16]:
#county_insert_CO_level(2015)

In [6]:
state_year_agg = state_df.groupby(['state_name']).agg({'arithmetic_mean':'mean'}).reset_index()
state_year_agg

              state_name  arithmetic_mean
0                Alabama         0.383130
1                 Alaska         0.474776
2                Arizona         0.387220
3               Arkansas         0.306667
4             California         0.329690
5               Colorado         0.383858
6            Connecticut         0.284545
7               Delaware         0.310372
8   District Of Columbia         0.415555
9                Florida         0.259293
10               Georgia         0.458589
11                Hawaii         0.439504
12                 Idaho         0.316708
13              Illinois         0.246841
14               Indiana         0.407965
15                  Iowa         0.215179
16                Kansas         0.285216
17              Kentucky         0.247084
18             Louisiana         0.497603
19                 Maine         0.224342
20              Maryland         0.236686
21         Massachusetts         0.247970
22              Michigan         0.319369
23             Minnesota         0.184596
24           Mississippi         0.326880
25              Missouri         0.283954
26               Montana         0.168462
27              Nebraska         0.339009
28                Nevada         0.329726
29         New Hampshire         0.178389
30            New Jersey         0.367262
31            New Mexico         0.214190
32              New York         0.241407
33        North Carolina         0.273772
34          North Dakota         0.166107
35                  Ohio         0.251642
36              Oklahoma         0.225866
37                Oregon         0.350934
38          Pennsylvania         0.258953
39           Puerto Rico         0.596951
40          Rhode Island         0.435283
41        South Carolina         0.155060
42          South Dakota         0.196940
43             Tennessee         0.294626
44                 Texas         0.245286
45                  Utah         0.408659
46               Vermont         0.164825
47              Virginia         0.285800
48            Washington         0.356729
49         West Virginia         0.254387
50             Wisconsin         0.243200
51               Wyoming         0.078795

In [17]:
county_year_agg = state_df.groupby(['state_name','county_name']).agg({'arithmetic_mean':'mean'}).reset_index()
county_year_agg

    state_name     county_name  arithmetic_mean
0   California         Alameda         0.428544
1   California           Butte         0.236497
2   California    Contra Costa         0.383072
3   California          Fresno         0.264828
4   California        Humboldt         0.307227
5   California        Imperial         0.226503
6   California            Kern         0.226030
7   California     Los Angeles         0.355882
8   California          Madera         0.188704
9   California           Marin         0.374296
10  California        Monterey         0.379913
11  California            Napa         0.468948
12  California          Orange         0.404797
13  California       Riverside         0.235304
14  California      Sacramento         0.280680
15  California  San Bernardino         0.395041
16  California       San Diego         0.387320
17  California   San Francisco         0.411799
18  California     San Joaquin         0.270128
19  California       San Mateo         0.449672
20  California   Santa Barbara         0.215847
21  California     Santa Clara         0.521603
22  California          Solano         0.399336
23  California          Sonoma         0.382708
24  California      Stanislaus         0.299377
25  California          Sutter         0.127260
26      Nevada           Clark         0.406449
27      Nevada          Washoe         0.268864

In [18]:
city_year_agg = state_df.groupby(['city_name','county_name']).agg({'arithmetic_mean':'mean'}).reset_index()
city_year_agg

                    city_name     county_name  arithmetic_mean
0                     Anaheim          Orange         0.670749
1                Arden-Arcade      Sacramento         0.276853
2                       Arvin            Kern         0.163691
3                       Azusa     Los Angeles         0.352053
4                 Bakersfield            Kern         0.286319
..                        ...             ...              ...
66                     Upland  San Bernardino         0.455029
67                    Vallejo          Solano         0.399336
68  Vandenberg Air Force Base   Santa Barbara         0.187136
69                Victorville  San Bernardino         0.338536
70           West Los Angeles     Los Angeles         0.281943

[71 rows x 3 columns]

In [19]:
from pymongo import MongoClient

def connectToMongoCollection():
    connect_uri = "mongodb+srv://owner-user:carbonscore@cluster0.tqbki.mongodb.net/carbonScore?retryWrites=true&w=majority"
    mongo_client = MongoClient(connect_uri)
    global db
    db = mongo_client["carbonScore"]

def generate_score_state_year(year):
    state_agg_list = state_year_agg.values.tolist()
    mongo_dict_list = []
    states_collection = db["state_CO_year_agg"]
    for item in state_agg_list:
        temp_dict = {"state": item[0], 'mean': item[1], 'year': year}
        mongo_dict_list.append(temp_dict)
    states_collection.insert_many(mongo_dict_list)

def generate_score_county_year(year):
    county_agg_list = county_year_agg.values.tolist()
    mongo_dict_list = []
    county_collection = db["county_CO_year_agg"]
    for item in county_agg_list:
        temp_dict = {"county": item[1], 'mean': item[2], 'year': year}
        mongo_dict_list.append(temp_dict)
    county_collection.insert_many(mongo_dict_list)

def generate_score_city_year(year):
    city_agg_list = city_year_agg.values.tolist()
    mongo_dict_list = []
    city_collection = db["city_CO_year_agg"]
    for item in city_agg_list:
        temp_dict = {"county": item[1], "city": item[0], 'mean': item[2], 'year': year}
        mongo_dict_list.append(temp_dict)
    city_collection.insert_many(mongo_dict_list)

In [20]:
connectToMongoCollection()
generate_score_county_year(2015)
generate_score_city_year(2015)
#generate_score_state_year(2015)